<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dive Vue.js</title>
    <link rel = "stylesheet" href = "css/style.css">
    <script src = "js/main.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id = "app" class = "container">
      <h1>Vue.js課題</h1>
      名前：<input v-model="name">
      コース：<input v-model="cource">
      受講期：<input v-model="acceptance_period"><br>
      <button v-on:click = "addStudent">入力した生徒を追加する</button>
      <ul>
          <li v-for="student in students" v-bind:key="student.id">
              ID {{student.id}} /
              名前 {{student.name}} /
              コース {{student.cource}} /
              受講期 {{student.acceptance_period}}
          </li>
      </ul>
    </div>
    <script src = "js/main.js"></script>
  </body>
</html>
